.text 
{
    position: relative;
    align-content: center;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
}

#bouton
{
    position: relative;
    left: 25%;
    width: 50%;
    text-align: center;
}

.bouton  /* each bouton */
{
    height: 56px;
    width: 200px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    font-size: xx-large;
    color: black;
    margin: 2px;
}


/* page 2 */
#rectangleS 
{
    z-index: 2;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF
}

#votreclesw 
{
    z-index: 3;
    width: 1301px;
    height: 210px;
    font-family: "Segoe UI";
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    text-align: center;
}

#newgroup 
{
    z-index: 3;
    width: 601px;
    height: 152px;
}

#rectangle 
{
    z-index: 4;
    width: 601px;
    height: 152px;
    background: #e8f0f9;
}

#a 
{
    z-index: 4;
    width: 601px;
    height: 152px;
    font-family: "Segoe UI";
    font-size: 96px;
    font-weight: 400;
    line-height: 128px;
    text-align: center;
}

#line 
{
    z-index: 3;
    width: 259px;
    height: 2px;
    border: solid #808080
}

#timer {

    z-index: 3;
    width: 145px;
    height: 75px;
    font-family: "Segoe UI";
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
}

#lacleswi-f 
{
    z-index: 3;
    width: 1163px;
    height: 262px;
    font-family: "Segoe UI";
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
}
