{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ absolute_url('./css/page1.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class='text'>
        <h1>Bienvenue</h1>
        <p>sur l'outil d'attribution de mot de pass wi-fi de la mairie d'echirolle.</p>
        <p>Veuillez choisir la durée de votre conexion wi-fi s'il vous plaît.</p>
    </div>
    <div class='bouton'>
        <input type="button" value="1H" href="{{ path('Password_wifi') }}">
        <input type="button" value="2H" href="{{ path('Password_wifi') }}">
        <input type="button" value="3H" href="{{ path('Password_wifi') }}">
    </div>
{% endblock %}